:root {
  --base-font-size: 20px;
  font-size: var(--base-font-size);
}

body {
  font-size: var(--base-font-size);
}

h1 {
  /* font-size: calc(var(--base-font-size) + var(--h1-font-size-multiplier)); */
  font-size: 2em; 
}

ul {
  font-size: 1em;
}

/* li {
  font-size: 2em;
}

p {
  font-size: 5em;
}

span {
  font-size: 10em;
} */

h1 {
  font-size: 2rem;
}

li {
  font-size: 2rem;
}

p {
  font-size: 5rem;
}

span {
  font-size: 10rem;
}
