.container {
  display: flex;
  height: 100vh;
  border: 10px solid black;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 20px;
  border: 5px solid red;
  background-color: darkgreen;
  color: white;
  font-size: 40px;
  text-align: center;
  flex-basis: 200px;
}

.grow {
  /* flex-grow: 1; */
}

.flex {
  /*
  flex-grow: 50;
  flex-shrink: 15;
  flex-basis: 300px; 
  */
  /* flex: 50 15 300px;
  flex: 1; */
}


