.container {
  display: flex;
  height: 100vh;
  border: 10px solid black;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}

.item {
  margin: auto;
  padding: 20px;
  border: 5px solid red;
  background-color: darkgreen;
  color: white;
  font-size: 40px;
  text-align: center;
}

.m-left {
  margin-left: auto;
}
