/* специфичность  = 1 */
p {
  /* 
        color: blue;
        color: rgb(0,0,255); 
        color: rgba(50,15,255, 0.05);
        color: #0000ff;
        A = 10
        B = 11
        C = 12
        D = 13
        E = 14
        F = 15
        FF =  15 *16^1 + 15 * 16^0
        */
  color: blue;
  font-size: 32px;
}
/* специфичность  = 10 */
.text {
  color: green;
}
.text2 {
  color: purple;
}
/* специфичность  = 100 */
#text {
  color: red;
}
