html {
  font-family: 'Roboto';
}

.article {
  font-size: 30px;
  background-color: #333333; /* цвет заливки*/
  color: white;
  border: 5px dotted green;
}

.article-text {
  line-height: 1.6; /*межстрочный интервал*/
  /* font-size: 30px; */
  font-style: italic; /* курсивность текста */
  font-family: 'Times New Roman', 'Arial', 'Roboto', sans-serif; /* семество шрифтов*/
  text-align: justify;
  text-transform: uppercase;
  border: unset;
}

.link {
  /* font-size: initial; */
  color: inherit;
  text-decoration: none;
}

.article-heading {
  /* font-size: 30px; */
  text-align: center; /* выравнивание текста */
  border: inherit;
}