* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

/*
  vh - viewport height
  vw - viewport width

  1vmin - 1 % от минимальной стороны вьюпорта 
  1vmax- 1 % от максимальной стороны вьюпорта 
*/

ul {
  /*
    list-style
      list-style-type

      list-style-position

      list-style-image
  */

  /* list-style: '\00AE' inside url('https://www.thespruce.com/thmb/wcF9eGQBEQdnfds-hFG3SQjsHlc=/1732x1732/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-537282780-83176e6e223049858bcdf7c2cdfa61c3.jpg');
   */
  list-style: none;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  text-indent: 30px;
}

td {
  padding: 10px 20px;
  border: 2px solid;
  background-color: lightgray;
}

th {
  padding: 10px 20px;
  border: 2px solid;
  background-color: lightblue;
}